examenes_de_prueba/DragonBall.dtd

<!ELEMENT DragonBall (personaje)*>
<!ELEMENT personaje (Goku, Pan, Vegeta, (Krillin)?, Trunks, Freezer, (ChiChi)+)*>
<!ELEMENT Goku (#PCDATA)>
<!ELEMENT Pan (#PCDATA)>
<!ELEMENT Vegeta (#PCDATA)>
<!ELEMENT Krillin (#PCDATA)>
<!ELEMENT Trunks (#PCDATA)>
<!ELEMENT Freezer (#PCDATA)>
<!ELEMENT ChiChi (#PCDATA)>




<!ATTLIST Goku nombre CDATA #REQUIRED
                    transformacion ID #IMPLIED
>

<!ATTLIST Pan 
>

<!ATTLIST Vegeta >
